<div class="album py-5 bg-light">
  <%= render "shared/searchbar" %>
  <div class="album-index">  
    <div class="container-fluid">
      <div class="row">
        <%= render @property %>
      </div>
    </div>
  </div>
</div>
