<div class="album py-5 bg-light">
  <%= render "shared/searchbar" %>
  <div class="album-index">  
    <div class="container-fluid">
      <div class="row">
      	<% if @properties.count == 0 %>
      		<h1> No Properties </h1>
      	<% else %>  
      	    <%= render @properties %>
      	<% end %>
      </div>
    </div>
  </div>
</div>
