<div class="container">
	<%= render "show_images" %>
	<div class="row">
		<div class="col-md-8 vl">
			<%= render "show_property" %>
		</div>
		<div class="col-md-4 side-cont">
			<%= render "new_offer" %>
		</div>
	</div>
</div>
