<div class="container">
	<%= render "show_images" %>
	<div class="row">
		<div class="main">
			<%= render "show_property" %>
		</div>
		<div class="sidebar">
			<%= render "new_offer" %>
		</div>
	</div>
</div>
