<div class="container">	
	<%= render "show_images" %>
</div>
<div class="container space-bottom-2">
  <%= render "show_property" %>
</div>
<div class="border-top pt-8 mt-8">
  <div class="w-md-80 w-lg-50 text-center mx-md-auto mb-9">
    <h2 class="font-weight-medium">Sort through the featured property</h2>
  </div>
  <%= render "featureshow" %>
</div>
