<footer>
  <div class="alternate-1">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
            <p> <%= copyright_generator %>  </p>
        </div>  
      </div>
      <div class="row">
        <div class="col-md-3">
          <h5>The Company</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">About Us</a></li>
            <li><a class="text-muted" href="#">Contact me on +91 9172280561</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <h5>Social Media</h5>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resource</a></li>
            <li><a class="text-muted" href="#">Resource name</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <h5>Find us on:</h5>

        </div>
      </div>
    </div>
  </div>
</footer>