<div class="container-fluid">
	<div class="section-break">  		
	    <div class="container">
	       <h2>Latest Properties</h2> <br>
	          <div class="row">
	            <div class="col-md-4">
	            	<div class="card featured-prop">
		                <a href="#" class="aa-properties-item-img">
							<%= image_tag "img/item/1.jpg", width: '100%', alt: "Office Office" %>                 </a>
		                  <div class="card-body">
		                    For Sale

		                	<span>5 Rooms</span>
		                    <span>2 Beds</span>
		                    <span>3 Baths</span>
		                    <span>1100 SQ FT</span>
		                    <span> Rs. 23000</span>
		                    <h3><a href="#">Appartment Title</a></h3>
		                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim molestiae vero ducimus quibusdam odit vitae.</p>                      
			                <%= link_to "View more", root_path, class: "btn btn-primary btn-block" %>
			            </div>
		            </div>
	            </div>
	        </div>
	    </div>
	</div>
</div>		 

	 