<div class="d-md-flex bg-img-hero">
  <div class="container d-md-flex align-items-md-center height-md-100vh position-relative space-top-2 space-bottom-3 space-top-md-3 space-top-lg-2 space-bottom-md-0">
        <div class="w-lg-65 mb-5 text-white">
			<div class="w-lg-65 w-xl-50 mb-5">
				<h1 class="display-4">Search your <strong class="font-weight-semi-bold">dream home</strong> online.</h1>
			</div>
      		<%= render "shared/searchbar" %>
    	</div>
  	</div>
</div>
  