<div class="section-break">
	<div class="alternate-1">
		<div class="container">			
			<div class="row">
				<div class="col-md-4">
					<div class="service">
					 	<%= image_tag "img/item/1.jpg", width: "120px", alt: "Office Office" %> <br> 
					 	 <h4> We Are one </h4>
					 	 <span> Yes we do </span> 			
					 </div>		
				</div>
				<div class="col-md-4">
					<div class="service">
					 	<%= image_tag "img/item/1.jpg", width: "120px", alt: "Office Office" %> <br>
					 	 <h4> We Are one </h4>
					 	 <span> Yes we do </span> 			
					 </div>		
				</div>
				<div class="col-md-4">
					<div class="service">
					 	<%= image_tag "img/item/1.jpg", width: "120px", alt: "Office Office" %> <br>
					 	 <h4> We Are one </h4>
					 	 <span> Yes we do </span> 			
					 </div>		
				</div>
			</div>
		</div>
	</div>
</div>
