<div class="section-break">
 <div class="container">
    <div class="row ">
      <div class="col-md-4">
        <div class="service-card">
          <div>
            <%= image_tag "handshake.png", width: '100%' %>             
          </div>
          <div class="service">
            <h2>Best Service</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-card">
          <div>
            <%= image_tag "digital.png",  width: '100%'%>             
          </div> 
          <div class="service"> 
            <h2>Find us Online</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="service-card">
          <div>
            <%= image_tag "unlock.png", width: '100%' %>             
          </div>
          <div class="service">
            <h2>Affordable Houses</h2>
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div> 