  	<%= render "herosection" %>
  	<%= render "howItWorks" %>
    <div class="container"><hr class="my-0"></div>
    <div class="bg-light">
      <div class="container space-2 space-md-3">
        <%= render "featured" %>
      </div>
        <% render "testimonials" %>
    <div class="container text-center space-2 space-md-3">
      <div class="w-md-60 text-center mx-auto mb-6">
        <h2 class="font-weight-medium">Join over <span class="text-primary font-weight-semi-bold">35,000</span> happy customers selling houses online</h2>
      </div>
      <div class="mb-6">
        <a class="btn btn-primary btn-wide transition-3d-hover" href="#">Get Started Now</a>
      </div>
    </div>
  </main>
