<!-- Icon Blocks Section -->
<div class="bg-light">
  <div class="container space-2 space-md-3">
    <!-- Title -->
    <div class="w-md-60 w-lg-35 text-center mx-auto mb-9">
      <h2 class="h5 font-weight-normal">
        Find your new home for sale or sell a house on <span class="text-primary font-weight-semi-bold">Front.</span>
      </h2>
    </div>
    <!-- End Title -->

    <div class="w-lg-85 mx-lg-auto">
      <div class="card-deck d-block d-md-flex card-md-gutters-3">
        <!-- Card -->
        <article class="card text-center">
          <div class="card-body p-7">
            <!-- SVG Icon -->
            <div id="SVGforSale" class="svg-preloader w-75 mx-auto mb-6">
              <figure class="ie-for-sale">
                <img class="js-svg-injector" src="../../assets/svg/flat-icons/for-sale.svg" alt="Image Description"
                     data-parent="#SVGforSale">
              </figure>
            </div>
            <!-- End SVG Icon -->

            <h3 class="h4 mb-3">I'm a Seller</h3>
            <p class="mb-4">Discover how much property sold for with our comprehensive house price data.</p>
            <a class="btn btn-sm btn-soft-danger transition-3d-hover" href="property-seller.html">
              Sell my Home
              <span class="fas fa-angle-right ml-2"></span>
            </a>
          </div>
        </article>
        <!-- End Card -->

        <!-- Card -->
        <article class="card text-center">
          <div class="card-body p-7">
            <!-- SVG Icon -->
            <div id="SVGbuyer" class="svg-preloader w-75 mx-auto mb-6">
              <figure class="ie-buyer">
                <img class="js-svg-injector" src="../../assets/svg/flat-icons/buyer.svg" alt="Image Description"
                     data-parent="#SVGbuyer">
              </figure>
            </div>
            <!-- End SVG Icon -->

            <h3 class="h4 mb-3">I'm a Buyer</h3>
            <p class="mb-4">Ensure you find the right home, near the right school with new School Checker tool.</p>
            <a class="btn btn-sm btn-soft-primary transition-3d-hover" href="property-list.html">
              Buy a Home
              <span class="fas fa-angle-right ml-2"></span>
            </a>
          </div>
        </article>
        <!-- End Card -->
      </div>
    </div>
  </div>
</div>
<!-- End Icon Blocks Section -->
