@import "bootstrap";
@import "properties.scss";



footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 5.5rem;
  padding-top: 1rem;
}

footer p {
  margin-bottom: .25rem;
}



.body-main {
  padding-top: 3.5rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

.hero-card {
  margin-top: 10rem;
  margin-bottom: 15rem;
  margin-left: 5rem;
  padding: 5rem;
  width: 50rem;
}

#outerWrap {
position: relative;
z-index: 0;
background-color: #00CCFF;
width: 100%;
}

#layer1 {
position: absolute;
z-index: 1;
height: 350px;
width: 300px;
top: 40px;
left: 40px; 
}

.carousel {
  margin-bottom: 4rem;
}
/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  color: black;
  bottom: 3rem;
  z-index: 10;
}

/* Declare heights because of positioning of img element */
.carousel-item {
  height: 32rem;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

.section-break {
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.featured-prop {
  padding: 1rem;
}

.alternate-1 {
  background-color: #e3e3e3;
  width: 100%;
}

.service {
  align-content: center;
  padding-left: 5rem;
  padding-bottom: 5rem;
  padding-top: 5rem;
}

.property-img {
  margin-right: auto;
  margin-left: 5rem;
  margin-top: 1rem;
  align-content: center;
  marigin-bottom: 10px; 
  height: 550px;
  width: 80%;
}

.border-details {
  border-left: 3px solid black;
  border-right: 3px solid black;  
}


/* direct_uploads.css */
 
.direct-upload {
  display: inline-block;
  position: relative;
  padding: 2px 4px;
  margin: 0 3px 3px 0;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  font-size: 11px;
  line-height: 13px;
}
 
.direct-upload--pending {
  opacity: 0.6;
}
 
.direct-upload__progress {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0.2;
  background: #0076ff;
  transition: width 120ms ease-out, opacity 60ms 60ms ease-in;
  transform: translate3d(0, 0, 0);
}
 
.direct-upload--complete .direct-upload__progress {
  opacity: 0.4;
}
 
.direct-upload--error {
  border-color: red;
}
 
input[type=file][data-direct-upload-url][disabled] {
  display: none;
}


.album-index {
  padding: 1rem;
}

.index-image  {
  align-content: center;
  padding: 1rem;
  background-color: #f7f7f7;
}

#map2 {
    width: 600px;
    height: 400px;
}


hr { 
  border: 0;
  height: 0;
  border-top: 2px solid rgba(0, 0, 0, 0.6);
  border-bottom: 0.5px solid rgba(128,128,128, 0.2);
  margin-bottom: 5rem;
  margin-top: 2rem;
}


.main,
.sidebar {
  padding: 15px;
  margin: 20px;
  background-color: #fff;
}

.main {
  width: 60%;
  height: 200vh;
}

.sidebar {
  width: 30%;
  height: 80vh;
}
.sidebar {
  position: -webkit-sticky;
  position: sticky;
  top: 5rem;
}

.side-head {
  color: black;
}

.sidebar-module {
  padding: 2rem;
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset {
  padding: 1rem;
  background-color: #AEBFA2;
  border-radius: .25rem;
}

.sidebar-module-alert {
  /*margin: 0 -1rem 1rem;*/
}
.sidebar-module-inset-alert {
  background-color: #F21616;
  border-radius: .25rem;
  color: black;
}
.sidebar-cont{
  padding: 1rem;
}

#rcorners2 {
  border-radius: 25px;
  border: 2px solid #73AD21;
  padding: 20px; 
  width: 200px;
  height: 150px; 
}